<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://assets.tobys.cloud/styles.css" type="text/css">
    <link rel="icon" href="https://assets.tobys.cloud/favicon.ico">
    <title>hivemind.toby.codes</title>
  </head>

  <body>
    <div class="container">
      <header>
        hivemind
        <nav>
          <% if current_user %>
            <a class="button" href="/epubs">epubs</a>
            <a class="button" href="/logout">log out</a>
          <% end %>
        </nav>

        <% if current_user %>
          <p>logged in as <%= current_user.username %></p>
        <% end %>
      </header>
    </div>

    <div class="container">
      <main><%= yield %></main>
    </div>
  </body>
</html>
