<form method="POST" class="max-w-xs flex flex-col items-start">
  <%= csrf_token_hidden_input %>

  <fieldset class="w-full">
    <label for="title" class="sr-only">Title</label>
    <input id="title" name="title" type="text" placeholder="title [-,.a-zA-Z0-9 ]{2,32}"
           pattern="[-,._+a-zA-Z0-9 ]{2,32}" minlength="2" maxlength="32"
           class="w-full p-4 border border-gray-400 focus:border-indigo-500 outline-none focus:ring ring-indigo-200"
           />
  </fieldset>

  <button class="w-full mt-6 p-4 uppercase tracking-widest bg-indigo-500 hover:bg-indigo-700 text-white outline-none focus:ring ring-indigo-200">Create</button>
</form>
