<nav>
  <table style="width: 100%; text-align: center;""><tbody><tr>
    <td>
      <% if @epub.prev_href(@item.id).nil? %>
      <span>⇤</span>
      <% else %>
      <a href="<%= @epub.href_path(@epub.prev_href(@item.id) ) %>#read-start">←</a>
      <% end %>
    </td>

    <td>
      <% if @epub.next_href(@item.id).nil? %>
      <span>⇥</span>
      <% else %>
      <a href="<%= @epub.href_path(@epub.next_href(@item.id) ) %>#read-start">→</a>
      <% end %>
    </td>
  </tr></tbody></table>
</nav>
