<nav>
  <a href="/epubs/upload">upload new epub</a>
</nav>

<div>
  <h1>EPubs</h1>

  <p>found <%= @epubs.count %> epubs</p>

  <% @epubs.group_by(&:creator).sort_by { _1 }.each do |creator, epubs| %>
    <div>
      <h2><%= creator %></h2>

      <ul>
        <% epubs.each do |epub| %>
          <li><a href="/epubs/<%= epub.id %>"><%= epub.title %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
